* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    max-width: 50rem;
    background-color: hsl(0, 0%, 80%);
    font-family: monospace;
    padding: 0rem 2rem;
    margin: 0 auto;
}

h1 {
    font-size: 2rem;
}

h2 {
    font-size: 1.25rem;
}

.spacer {
    height: 1rem;
}

.hero {
    padding: 1rem 0rem;
}

#status-display {
    padding: 0.5rem;
    color: white;

    &.disconnected {
        background-color: hsl(0, 100%, 50%);
    }

    &.connected {
        background-color: hsl(120, 100%, 25%);
    }

    &.sent {
        background-color:  hsl(189, 100%, 33%);
    }
}

.send_section, .receive_section {
    background-color: cadetblue;
    padding: 1rem;

    label {
        display: inline-block;
        width: 3.5rem;
    }
}

#log {
    background-color: hsl(0, 0%, 0%);
    color: hsl(0, 0%, 67%);
    padding: 0.5rem;
    height: 15rem;
    overflow-y: auto;
    font-size: 0.75rem;
    margin-bottom: 0.25rem;
}

input {
    padding: 0.25rem 0.5rem;
}

button {
    border-style: solid;
    text-transform: uppercase;
    padding: 0.25rem 2rem;
    background-color: hsl(0, 0%, 0%);
    color: white;

    &:disabled {
        background-color: hsl(0, 0%, 30%);
        cursor: not-allowed;
    }
}