* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: monospace;
    padding: 0rem 2rem;
}

.send_section {
    background-color: cadetblue;
    padding: 1rem 0rem;

}

/* 

textarea {
    width: 100%;
    height: 30rem;
    font-family: monospace;
    font-size: 14px;
    background: #1e1e1e;
    color: #d4d4d4;
    border: 1px solid hsl(0, 0%, 27%);
    padding: 10px;
}

button {
    padding: 10px 20px;
    cursor: pointer;
    font-size: 14px;
}

#send-btn {
    background: #0078d4;
    color: white;
    border: none;
}

#send-btn:disabled {
    background: #555;
    cursor: not-allowed;
}

#status {
    padding: 8px;
    margin: 10px 0;
    border-radius: 4px;
}

.connected {
    background: hsl(134, 41%, 88%);
    color: hsl(134, 61%, 21%);
}

.disconnected {
    background: hsl(355, 70%, 91%);
    color: hsl(354, 61%, 28%);
}

.sent {
    background: hsl(189, 53%, 88%);
    color: hsl(189, 78%, 21%);
}

#log {
    background: hsl(0, 0%, 12%);
    color: hsl(0, 0%, 67%);
    padding: 0.5rem;
    height: 15rem;
    overflow-y: auto;
    font-size: 12px;
}

#clear-log-btn {
    background: #e81123;
    color: white;
    border: none;
    margin-top: 0.25rem;
}

#clear-log-btn:disabled {
    background: #555;
    cursor: not-allowed;
} */